@import url(Fonts.css);
body {
  font-family: 'Circular Book'; }

.localmaps {
  color: #76a6cd;
  letter-spacing: -2px;
  font-size: 1.5rem; }

.toggle-map {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); }
  .toggle-map li a {
    background-color: white; }

.app-wrapper {
  display: flex; }
  .app-wrapper .left-panel {
    width: 100vw;
    min-height: calc(100vh - 52px);
    transform: translateX(-100vw);
    transition: transform .65s ease; }
    .app-wrapper .left-panel.is-visible {
      transform: translateX(0px); }
    @media screen and (min-width: 769px) {
      .app-wrapper .left-panel {
        width: 50vw; } }
  .app-wrapper .right-panel {
    width: 100vw;
    min-height: calc(100vh - 52px);
    transform: translateX(100vw);
    transition: transform .65s ease;
    position: fixed; }
    .app-wrapper .right-panel.is-visible {
      transform: translateX(0px); }
    @media screen and (min-width: 769px) {
      .app-wrapper .right-panel {
        width: 50vw;
        display: flex;
        transform: none;
        position: relative; } }

ul.inline-list li {
  float: left;
  margin-right: 5px; }
  ul.inline-list li:last-of-type {
    margin-right: 0; }
